:root {
    --primary-color: #f44336;
    --secondary-color: #4caf50;
    --accent-color: #ffeb3b;
    --font-title: 'Pacifico', cursive;
    --font-heading: 'Archivo Black', sans-serif;
    --font-body: 'Roboto', sans-serif;
    --font-rock-salt: 'Rock Salt', cursive;
    --font-gochi-hand: 'Gochi Hand', cursive;
  }

  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f44336, #ffeb3b, #4caf50);
    font-family: var(--font-body);
    color: #fff;
    text-align: center;
    /* background-image: url('assets/bg-palmeras.svg');
    background-size: cover;
    background-position: center; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    min-height: calc(100vh - 8rem);
    text-align: center;
    padding: 1rem;
    background-image: url('assets/fondo-palmeras.svg');
    background-repeat: repeat;
  }

  .container {
    padding: 4rem;
    max-width: 500px;
    /* background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .logo {
    width: 50%;
    margin: 0 auto 1.5rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 14rem;
  }

  h1 {
    font-family: var(--font-title);
    font-size: 4rem;
    letter-spacing: 0.6rem;
    margin-bottom: 0.5rem;
    color: var(--accent-color);    
  }

  h2 {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    margin: 0;
    color: var(--accent-color);
    letter-spacing: 0.5rem;
    position: relative;
    top: -1rem;
    text-transform: uppercase;
  }

  h3 {
    /* font-family: var(--font-rock-salt); */
    font-family: var(--font-gochi-hand);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--accent-color);    
  }

  .cholo-birthday {
    /* font-family: var(--font-gochi-hand); */
    font-family: var(--font-rock-salt);
    letter-spacing: -0.1rem;
    font-size: 2.5rem;
    margin: 0; padding: 0;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
    color: var(--secondary-color);
    line-height: 1;
  }

  .direccion h3{
    margin-bottom: 0rem;
  }

  .direccion {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    margin-top: -2.9rem;
  }

  .direccion-texto {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    font-family: var(--font-body);
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .date-time {
    font-size: 1.25rem;
    font-weight: bold;
    background: #000;
    color: #fff;
    display: flex-row;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }

  .icon-calendar {
    font-size: 1.2rem;
    color: var(--accent-color);
  }

  .location {
    font-size: 1.1rem;
    line-height: 1.5;
    display: flex-row;
    align-items: flex-start;
    gap: 0.5rem;
    justify-content: center;
  }

  .icon-location {
    width: 1.2rem;
    margin-top: 0.1rem;
    color: #000;
    
  }

  .location-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: var(--accent-color);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: #333;
  }

  .location-link:hover {
    color: #000;
    text-decoration: underline;
    background-color: #e6d968;
    text-decoration: none;
  }

  .dress-code {
    font-size: 1rem;
    line-height: 1.5;
    display: flex-row;
    font-style: italic;
  }

  .cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background: #25d366;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
  }

  .sq-red{
    color:#f44336;
  }
  .sq-green{
    color:#4caf50;
  }
  .sq-yellow{
    color:#ffeb3b;
  }

  @media (max-width: 600px) {
    body {
      min-height: calc(100vh - 4rem);
    }
    .container {
      width: calc(90vw - 4rem);
      padding: 2rem;
      /* background: none; */
    }
    .logo {
      width: 70vw;
    }
    .title {
      top: 58vw;
    }
  }
  